//  ============================ Typography ============================

//webfont('RUB', 'rouble-webfont', 'normal')
//Add fotn rub write .rub a - (a,b,c,d - change type font)

//font(name,file,size)
font('Montserrat','Montserrat-Bold',700)
font('Montserrat','Montserrat-Medium',600)
font('Montserrat','Montserrat-Regular',400)

$v-font =  'Montserrat', sans-serif

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

/*
font-size 12px
@extend .type--sm

font-size 16px
@extend .type--main

font-size 24px
@extend .type--md

font-size 36px
@extend .type--lg

font-size 48px
@extend .type--xl
*/

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(12,10)

.type--main
	typeSize(16,14)

.type--md
	typeSize(24,20)

.type--lg
	typeSize(36,24)

.type--xl
	typeSize(48,30)

.type--bold
	font-weight bold

.type--center
	text-align center

.type--green
	color $green
.type--mark
	color $mark
.type--gray
	color $gray

.type--nowrap
	white-space nowrap

h1
	@extend .type--xl
h2
	@extend .type--lg
h3
	@extend .type--md
h4
	@extend .type--main
h5
	@extend .type--sm

a
	color $link-color
	text-decoration: none
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

p
	@extend .type--main

.link--mark
	color $blue
	&:hover
		color darken($mark,20)
	&:visiter
		color darken($mark,30)

.link--main
	color $link-color
	hover-underline($link-color)
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

.link--text
	color $link-color
	text-decoration underline
	&:hover
		text-decoration none

.type--mark
	color $mark

.text
	p
		+below(768px)
			margin-bottom: 20px
		line-height: 1.6
		margin-bottom: 30px
	ul
		margin-bottom: 30px
		li
			line-height: 1.6
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0

// icons
.icon-row
	f()
	fw()
	align-items center

.icon--sm
	size 16px

.icon--md
	size 24px

.icon--left
	margin-left: 10px

.icon--right
	margin-right: 10px

.icon--mark
	fill $mark

.icon--green
	fill $green

.icon--gray
	fill $gray
// icons === end

// title
.title
	font-weight: 700
	margin-top: 0
	margin-bottom: 20px
.title--lg
	+below(640px)
		margin-bottom: 20px
	@extend .type--lg
	margin-bottom: 30px
.title--md
	@extend .type--md
	margin-bottom: 20px
.title--light
	font-weight: 600
// title === end

