.disabled,
.btn--disable,
.input--disable,
.style-label--disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format('woff2'), url("../fonts/Montserrat-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff2") format('woff2'), url("../fonts/Montserrat-Medium.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format('woff2'), url("../fonts/Montserrat-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
.type--xs {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--xs {
    font-size: 10px;
  }
}
.type--sm,
h5 {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--sm,
  h5 {
    font-size: 10px;
  }
}
.type--main,
h4,
p,
body {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  h4,
  p,
  body {
    font-size: 14px;
  }
}
.type--md,
h3,
.title--md,
.page-error__text,
.phone,
.unit__title {
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .type--md,
  h3,
  .title--md,
  .page-error__text,
  .phone,
  .unit__title {
    font-size: 20px;
  }
}
.type--lg,
h2,
.title--lg {
  font-size: 36px;
}
@media only screen and (max-width: 768px) {
  .type--lg,
  h2,
  .title--lg {
    font-size: 24px;
  }
}
.type--xl,
h1,
.page-error__title,
.modal-title,
.slider-banner__title {
  font-size: 48px;
}
@media only screen and (max-width: 768px) {
  .type--xl,
  h1,
  .page-error__title,
  .modal-title,
  .slider-banner__title {
    font-size: 30px;
  }
}
.type--bold {
  font-weight: bold;
}
.type--center {
  text-align: center;
}
.type--green {
  color: #189e00;
}
.type--mark {
  color: #dd000b;
}
.type--gray {
  color: #bbb;
}
a {
  color: #111;
  text-decoration: none;
}
a:hover {
  color: #000;
}
a:visiter {
  color: #000;
}
.link--mark {
  color: $blue;
}
.link--mark:hover {
  color: #770006;
}
.link--mark:visiter {
  color: #440003;
}
.link--main {
  color: #111;
  border-bottom: #111 solid transparent;
}
.link--main:hover {
  border-bottom: #111 solid;
}
.link--main:hover {
  color: #000;
}
.link--main:visiter {
  color: #000;
}
.link--text {
  color: #111;
  text-decoration: underline;
}
.link--text:hover {
  text-decoration: none;
}
.type--mark {
  color: #dd000b;
}
.text p {
  line-height: 1.6;
  margin-bottom: 30px;
}
.text ul {
  margin-bottom: 30px;
}
.text ul li {
  line-height: 1.6;
  margin-bottom: 10px;
}
.text ul li:last-child {
  margin-bottom: 0;
}
.icon-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.icon--sm {
  width: 16px;
  height: 16px;
}
.icon--md {
  width: 24px;
  height: 24px;
}
.icon--left {
  margin-left: 10px;
}
.icon--right {
  margin-right: 10px;
}
.icon--mark {
  fill: #dd000b;
}
.icon--gray {
  fill: #bbb;
}
.title {
  font-weight: 700;
  margin-top: 0;
}
.title--lg {
  margin-bottom: 30px;
}
.title--md {
  margin-bottom: 20px;
}
.btn,
.btn--sm,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--mark,
.btn--light,
.btn--white,
.page-error__get,
.modal-send {
  border-radius: 30px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  display: inline-block;
  background: none;
  border: 0;
  text-align: center;
}
.btn:hover,
.btn--sm:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--mark:hover,
.btn--light:hover,
.btn--white:hover,
.page-error__get:hover,
.modal-send:hover {
  cursor: pointer;
}
.btn--sm {
  font-size: 10px;
  padding: 5px 10px;
}
.btn--md,
.page-error__get,
.modal-send {
  padding: 18px 45px;
  font-weight: 600;
  position: relative;
}
.btn--md:before,
.page-error__get:before,
.modal-send:before {
  content: '';
  width: -webkit-calc(100% + 12px);
  width: calc(100% + 12px);
  height: -webkit-calc(100% + 12px);
  height: calc(100% + 12px);
  position: absolute;
  top: -6px;
  left: -6px;
  border-radius: 35px;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
  }
}
.btn--mark,
.page-error__get,
.modal-send {
  color: #fff;
  background: #189e00;
  border: 5px solid;
}
.btn--mark .nav-icon,
.page-error__get .nav-icon,
.modal-send .nav-icon {
  fill: #fff;
}
.btn--mark:hover,
.page-error__get:hover,
.modal-send:hover {
  color: #fff !important;
}
.btn--mark:hover:before,
.page-error__get:hover:before,
.modal-send:hover:before {
  content: '';
  box-shadow: inset 0 0 0 3px #189e00;
}
.btn--mark:active,
.page-error__get:active,
.modal-send:active {
  background-color: #148500;
}
.btn--mark:before,
.page-error__get:before,
.modal-send:before {
  content: '';
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  box-shadow: inset 0 0 0 1px #189e00;
}
.btn--mark input[type="submit"],
.page-error__get input[type="submit"],
.modal-send input[type="submit"] {
  border: 0;
}
.btn--mark .nav-icon,
.page-error__get .nav-icon,
.modal-send .nav-icon {
  fill: #fff;
}
.btn--disable {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
}
.btn--light {
  border: 1px solid #dbdbdb;
  background-color: #fff;
}
.btn--light:hover {
  border: 1px solid #dd000b;
}
.btn--light .nav-icon {
  fill: #dd000b;
}
.btn--white {
  border: 1px solid rgba(255,255,255,0.9);
  color: rgba(255,255,255,0.9);
}
.btn--white .nav-icon {
  fill: rgba(255,255,255,0.9);
}
.btn--icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn--icon .nav-icon {
  margin-left: 10px;
}
.nav-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.btn--icon--left .nav-icon {
  margin-left: 0;
  margin-right: 10px;
}
.btn-row-mid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}
.btn--full {
  width: 100%;
  display: block;
}
.btn--scroll {
  margin-top: 100px;
  padding: 18px 10px;
  width: 100%;
  -webkit-transition: background 0.4s;
          transition: background 0.4s;
}
.btn--fix {
  min-width: 320px;
}
.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.gallery__el {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 33% 10%;
}
.input,
.textarea,
.select {
  border-radius: 30px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  padding: 18px 30px;
  border: 1px solid #dbdbdb;
  resize: none;
  outline: 0 !important;
  font-family: 'Montserrat', sans-serif;
  display: block !important;
  background: #fff;
  color: #bbb;
  font-weight: 600;
}
.input input::-webkit-input-placeholder,
.textarea input::-webkit-input-placeholder,
.select input::-webkit-input-placeholder {
  color: #888;
}
.input input::-moz-placeholder,
.textarea input::-moz-placeholder,
.select input::-moz-placeholder {
  color: #888;
}
.input input:-moz-placeholder,
.textarea input:-moz-placeholder,
.select input:-moz-placeholder {
  color: #888;
}
.input input:-ms-input-placeholder,
.textarea input:-ms-input-placeholder,
.select input:-ms-input-placeholder {
  color: #888;
}
.input:focus,
.textarea:focus,
.select:focus {
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
  background: #fff;
}
.style-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.check-el input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.check-el .style-input-element {
  border-radius: 5px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  width: 26px;
  height: 26px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #dbdbdb;
}
.check-el .style-input-element:hover {
  cursor: pointer;
}
.check-el .style-input-element:hover {
  border: 1px solid #189e00;
}
.check-el .icon-check {
  display: none;
}
.check-el .style-input:checked ~ .style-input-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #189e00;
  border: 1px solid #189e00;
}
.check-el .style-input:checked ~ .style-input-element .icon-check {
  display: block;
  fill: #fff;
  width: 14px;
  height: 14px;
}
.style-label--radio input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.style-label--radio .style-input-element {
  width: 26px;
  height: 26px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 2px solid #dbdbdb;
  border-radius: 50%;
}
.style-label--radio .style-input-element:hover {
  cursor: pointer;
}
.style-label--radio .style-input-element:hover {
  border: 2px solid #189e00;
}
.style-label--radio .icon-check {
  display: none;
}
.style-label--radio .style-input:checked ~ .style-input-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border: 2px solid #dd000b;
  background: #fff;
}
.style-label--radio .style-input:checked ~ .style-input-element .icon-radio {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #dd000b;
}
.style-input-text {
  color: #111;
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  line-height: 1.6;
}
.style-input-text a {
  color: #dd000b;
}
.input-row {
  margin-bottom: 20px;
}
.input-row .input {
  width: 100%;
}
.input-row__title {
  margin-bottom: 10px;
}
.input-row--error .input {
  border-color: #ff4136;
  color: #ff4136;
}
.input-row--error .error-msg {
  display: block;
}
.input-row--error .error {
  color: #ff4136;
}
.input-row--error .style-input-element {
  border: 1px solid #ff4136;
}
.error-msg {
  color: #ff4136;
  margin: 10px 0;
  display: none;
}
.input-cont {
  display: grid;
  grid-gap: 20px;
}
.input-cont--two {
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 640px) {
  .input-cont--two {
    grid-template-columns: 1fr;
  }
}
.input-cont--three {
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 640px) {
  .input-cont--three {
    grid-template-columns: 1fr;
  }
}
.login-remember {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .login-remember .style-label {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.login-remember .sytle-input-text {
  font-size: 14px;
  color: #111;
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  line-height: 1.6;
}
.login-remember .sytle-input-text a {
  color: #dd000b;
}
.input-get {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 20px;
}
.input-get .input {
  border-radius: 5px 0 0 5px;
}
.input-get__btn {
  position: relative;
}
.input-get__btn .icon {
  position: absolute;
  width: 14px;
  height: 14px;
  fill: #fff;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
}
.input-get__btn .input-get__btn-el {
  height: 100%;
  background: #dd000b;
  border-radius: 0 5px 5px 0;
  border: 0;
  width: 60px;
}
.input-get__btn .input-get__btn-el:hover {
  background: #c4000a;
}
.upload-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 20px;
}
.upload {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 3px 14px #fff;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  margin-bottom: 10px;
}
.upload:hover {
  cursor: pointer;
}
.upload:hover {
  box-shadow: 0px 3px 8px #e3e3e3;
}
.upload__icon {
  padding: 10px;
  border-right: 1px solid #dbdbdb;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.upload__icon .icon {
  width: 25px;
  height: 25px;
  fill: #ff4136;
}
.upload__text {
  height: 50px;
  margin-left: -1px;
  padding: 15px;
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.upload-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.upload-img__el {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.upload-img__el:hover {
  cursor: pointer;
}
.upload-img__el:hover:before {
  content: 'X';
  opacity: 1;
}
.upload-img__el:before {
  content: 'X';
  position: absolute;
  background: rgba(0,0,0,0.702);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.upload-btn {
  position: absolute;
  left: -9999px;
}
/* block footer*/
/*block footer end */
body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .main-cont {
    width: 1280px;
  }
}
.page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}
.content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 50px;
}
.content--mid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.shrink {
  position: fixed !important;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  -webkit-animation: slideInDown 1s 1 ease-in-out;
          animation: slideInDown 1s 1 ease-in-out;
  z-index: 10;
}
.header-wrap--main.shrink {
  background: #fff !important;
}
.header-wrap--main.shrink .logo--main {
  display: none;
}
.header-wrap--main.shrink .logo--sm {
  display: block;
}
.header-wrap--main.shrink .logo {
  width: auto;
  height: 80px;
}
.page-error {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}
.page-error__title {
  margin-bottom: 30px;
  font-weight: 700;
  color: #bbb;
}
.page-error__img {
  margin-bottom: 30px;
}
.page-error__text {
  color: #bbb;
  margin-bottom: 30px;
}
.modal-layer {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
          transition: all 1s;
  opacity: 0;
}
.modal-layer-show {
  visibility: visible;
  opacity: 1;
}
.modal-cont {
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 100%;
  overflow: auto;
}
.modal-filter {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(24,25,29,0.631);
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}
.modal {
  -webkit-transform: scale(0.9) translateZ(0) translate3d(0, 0, 0);
          transform: scale(0.9) translateZ(0) translate3d(0, 0, 0);
  will-change: transform, opacity;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.6s, opacity 0.8s;
          transition: transform 0.6s, opacity 0.8s;
  max-width: 400px;
  left: -9999px;
  top: -9999px;
}
@media only screen and (max-width: 768px) {
  .modal {
    width: 100%;
    box-shadow: 0 0 0;
  }
}
.modal .order__row {
  margin-bottom: 20px;
  border-bottom: 0;
}
.modal-content {
  background: #fff;
  position: relative;
  padding: 40px 45px;
  border-radius: 40px;
}
@media only screen and (max-width: 640px) {
  .modal-content {
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    width: 95% !important;
    margin: 20px auto;
  }
}
.modal__show {
  max-height: 100%;
  opacity: 1;
  -webkit-transform: scale(1) translateZ(0) translate3d(0, 0, 0);
          transform: scale(1) translateZ(0) translate3d(0, 0, 0);
  position: relative;
  z-index: 1000;
  left: initial;
  top: initial;
  -webkit-transition: -webkit-transform 0.6s, opacity 0.8s;
          transition: transform 0.6s, opacity 0.8s;
  will-change: transform, opacity;
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background: #f8f8f8;
}
@media only screen and (max-width: 768px) {
  .modal-close {
    top: 12px;
    right: 12px;
  }
}
.modal-close:hover {
  cursor: pointer;
}
.modal-close:hover .icon {
  opacity: 1;
}
.modal-close .icon {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  width: 12px;
  height: 12px;
  fill: #111;
  opacity: 0.3;
}
.modal-hide-animation {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.6s, opacity 0.8s;
          transition: transform 0.6s, opacity 0.8s;
}
.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.modal-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .modal-title {
    font-size: 20px;
  }
}
.modal-text {
  text-align: center;
  margin: 20px auto;
  line-height: 1.6;
}
@media only screen and (max-width: 768px) {
  .modal-text {
    width: 100%;
    font-size: 12px;
  }
}
.modal-send {
  width: 100%;
}
.cookie {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.cookie--active {
  z-index: 20;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.cookie-wrap {
  box-shadow: 0px 3px 8px #e3e3e3;
  padding: 15px 20px;
  border-radius: 20px;
  z-index: 10;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cookie-wrap .icon {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  fill: #bbb;
}
.cookie-wrap .icon:hover {
  fill: #111;
}
.cookie-wrap .icon:hover {
  cursor: pointer;
}
.cookie-text {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  font-size: 12px;
}
.header-wrap {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  z-index: 10;
}
.header {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-wrap--main {
  width: 100%;
  position: absolute;
  background: rgba(255,255,255,0.722);
}
.header-wrap--main .logo {
  margin-right: 20px;
  position: relative;
  width: 200px;
  display: inline-block;
  height: 80px;
}
.header-wrap--main .logo--sm {
  display: none;
}
.logo {
  margin-right: 10px;
}
.logo--main img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
.header-nav__el {
  position: relative;
  padding: 10px 10px;
  z-index: 2;
}
.header-nav__el:hover {
  cursor: pointer;
}
.header-nav__el:hover .header-nav__el-title {
  color: #189e00;
}
.header-nav__el--sub {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.header-nav__el--sub .header-nav__el-title {
  border-bottom: 1px dashed #c0c5cc;
}
.header-nav__el--sub:hover {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.07);
}
.header-nav__el--sub:hover .header-nav__el-title {
  border-bottom: 1px dashed transparent;
  color: #bbb;
}
.header-nav__el--sub:hover .header-nav__drop {
  z-indez: 2;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.header-nav__drop {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  position: absolute;
  width: 300px;
  padding: 20px;
  background: #fff;
  top: 100%;
  left: 0;
  box-shadow: 0 10px 10px rgba(0,0,0,0.07);
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.header-nav__drop-el {
  display: block;
  margin-bottom: 20px;
}
.header-nav__drop-el:last-child {
  margin-bottom: 0;
}
.header-nav__drop-el:hover {
  color: #189e00;
}
.header-contact {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header-contact .phone {
  margin-bottom: 5px;
}
.phone {
  font-weight: 700;
}
.phone span {
  font-size: 16px;
}
.callback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.callback:hover {
  cursor: pointer;
}
.callback:hover .callback-icon:before {
  content: '';
  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}
.callback-icon {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: 1px solid #dd000b;
  margin-right: 10px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.callback-icon:before {
  content: '';
  width: 6px;
  height: 6px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  border-radius: 50%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background: #dd000b;
}
.main-slider__el {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-filter: blur(3px);
  margin: 0 10px;
  margin-bottom: 40px;
}
.main-slider__el.slick-active {
  -webkit-filter: blur(0);
}
.main-slider-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-slider-info .main-cont {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-banner {
  max-width: 460px;
}
.msg-box {
  background-color: #fff;
  opacity: 0.9;
  padding: 30px 40px;
  display: inline-block;
  margin-top: 10%;
  margin-left: 20px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.msg-box:before {
  content: '';
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
  position: absolute;
  width: -webkit-calc(100% + 40px);
  width: calc(100% + 40px);
  height: -webkit-calc(100% + 40px);
  height: calc(100% + 40px);
  top: -20px;
  left: -20px;
  border: 1px solid #fff;
}
.msg-box-wrap {
  position: relative;
}
.slider-banner--lg {
  max-width: 560px;
}
.slider-banner__title {
  font-weight: 700;
  margin-bottom: 20px;
}
.slider-banner__text {
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}
.slick-slide:hover {
  outline: none !important;
}
.slick-slide:active {
  outline: none !important;
}
.slick-slide:focus {
  outline: none !important;
}
.slider-wrap {
  position: relative;
}
.slider-wrap--simple .slider-control {
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  width: 60px;
  height: 60px;
  background: #f8f8f8;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 10;
}
.slider-wrap--simple .slider-control:hover {
  cursor: pointer;
}
.slider-wrap--simple .slider-control:hover {
  background: #f0f0f0;
}
.slider-wrap--simple .slider-control .icon {
  width: 18px;
  height: 18px;
}
.slider-wrap--simple .slider-control--left {
  left: -80px;
}
.slider-wrap--simple .slider-control--right {
  right: -80px;
}
.slider-wrap--inarrow .slider-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 10;
  padding: 20px 10px;
  background: #111;
  opacity: 0.6;
}
.slider-wrap--inarrow .slider-control:hover {
  cursor: pointer;
}
.slider-wrap--inarrow .slider-control:hover {
  opacity: 1;
}
.slider-wrap--inarrow .slider-control:hover .icon {
  fill: #fff;
}
.slider-wrap--inarrow .slider-control .icon {
  fill: #fff;
  width: 30px;
  height: 30px;
}
.slider-wrap--inarrow .slider-control--left {
  left: 0;
}
.slider-wrap--inarrow .slider-control--right {
  right: 0;
}
.slick-dots {
  width: 100%;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 50px;
}
@media only screen and (max-width: 720px) {
  .slick-dots {
    bottom: -20px;
  }
}
@media only screen and (max-width: 720px) {
  .slick-dots li {
    width: 10px;
    height: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.slick-dots .dot {
  background: #fff;
  width: 20px;
  height: 4px;
  display: block;
  border-radius: 3px;
  opacity: 0.5;
}
@media only screen and (max-width: 720px) {
  .slick-dots .dot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 6px;
    height: 6px;
  }
}
.slick-dots .slick-active .dot {
  opacity: 1;
}
.slick-slide img {
  width: 100%;
}
.row {
  display: grid;
  grid-gap: 40px;
}
.row-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 768px) {
  .row-2 {
    grid-template-columns: 1fr;
  }
}
.row-3 {
  grid-template-columns: repeat(3, 1fr);
}
.fluid-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fluid-cont-el {
  width: 50%;
}
.fluid-cont-el .map {
  height: 100%;
}
.fluid-cont-el--left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fluid-cont-el--left .fluid-cont-wrap {
  max-width: 640px;
  margin-left: auto;
  padding: 40px 40px 40px 10px;
}
.fluid-cont-el--right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fluid-cont-el--right .fluid-cont-wrap {
  max-width: 640px;
  margin-right: auto;
  padding: 40px 10px 40px 40px;
}
.fluid-cont-el--gray {
  background: #f8f8f8;
}
.fluid-cont-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 25% 10%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.box-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 32% 10%;
}
.position {
  margin-bottom: 10px;
  color: #bbb;
}
.position .icon {
  fill: #bbb;
}
.position--mark {
  color: #189e00;
}
.position--mark .icon {
  fill: #189e00;
}
.example {
  margin-bottom: 90px;
}
.card__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 30% 10%;
  display: block;
  margin-bottom: 15px;
}
.card-name {
  display: inline-block;
  font-weight: 700;
}
.card-name .type--gray {
  font-weight: 400;
  margin-left: 5px;
  font-size: 14px;
}
.example__text {
  line-height: 1.6;
  margin-bottom: 30px;
}
.example__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}
.example-img {
  margin-top: auto;
}
.link {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}
.link:before {
  content: '';
  bottom: 0;
  left: 0;
  background: #dbdbdb;
  height: 1px;
  width: 100%;
  position: absolute;
}
.link:after {
  content: '';
  bottom: 0;
  left: 0;
  background: #189e00;
  height: 2px;
  width: 20%;
  position: absolute;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
a.link:hover:after {
  content: '';
  width: 100%;
}
.border {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.border:before {
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
  position: absolute;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
  z-index: -1;
}
.border--bottom:before {
  content: '';
  right: -15px;
  bottom: -15px;
}
.border--top:before {
  content: '';
  left: -15px;
  top: -15px;
}
.border--left:before {
  content: '';
  left: -15px;
  bottom: -15px;
}
.play {
  position: absolute;
}
.play .icon {
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  z-indez: 2;
  fill: #fff;
  border-radius: 50%;
}
.play .icon:hover {
  fill: #dd000b;
}
.play .icon:hover {
  cursor: pointer;
}
.section {
  margin-bottom: 60px;
}
.section-extend {
  padding: 60px 0;
  margin-bottom: 60px;
}
.section--gray {
  background: #f8f8f8;
}
.advant {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}
.advant__el {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 30% 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.advant__el-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  background: rgba(17,17,17,0.478);
  color: #fff;
}
.order-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.order-banner-wrap {
  *zoom: 1;
  width: auto;
  max-width: 1280px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.order-banner-wrap:before,
.order-banner-wrap:after {
  content: '';
  display: table;
}
.order-banner-wrap:after {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .order-banner-wrap {
    width: 1280px;
  }
}
.order-form__title {
  position: relative;
}
.order-form {
  max-width: 460px;
  margin-top: 0;
  margin-left: auto;
  padding: 40px;
  margin-right: 30px;
}
.map {
  position: relative;
  padding: 26% 10%;
  background: #e6e6e6;
}
.map--full {
  padding: 15% 10%;
  min-height: 500px;
}
.img {
  margin-bottom: 30px;
}
.unit {
  line-height: 1.6;
}
.unit__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 32% 10%;
  margin-bottom: 20px;
}
.unit__title {
  font-weight: 700;
  color: #111;
  display: inline-block;
  margin-bottom: 10px;
}
.soc-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.soc-row span {
  display: inline-block;
  margin-right: 10px;
}
.soc-row__el {
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  margin-right: 10px;
}
.soc-row__el .icon {
  width: 40px;
  height: 40px;
  fill: #189e00;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.soc-row__el .icon:hover {
  fill: #fff;
}
.footer-wrap {
  background: #2a2b34;
  color: #fff;
  padding: 50px 0;
}
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer a {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.footer a:hover {
  color: #189e00;
}
.footer-copy {
  width: 20%;
}
.footer-adr {
  width: 25%;
  line-height: 1.4;
}
.footer-phone {
  width: 15%;
}
.footer-mail {
  width: 15%;
}
.bread {
  margin-bottom: 30px;
}
.village-head .title {
  margin-bottom: 10px;
}
.village-head .position {
  margin-bottom: 30px;
}
.vendor-img {
  margin-bottom: 20px;
}
.kind-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.kind-row:last-child {
  margin-bottom: 0;
}
.kind-row .icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.kind-row span {
  display: inline-block;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  line-height: 1.4;
}
.kind-row--extend {
  margin-bottom: 20px;
}
.kind-wrap {
  margin-bottom: 40px;
}
.kind-wrap--mark .icon {
  fill: #189e00;
}
.tab-link-wrap {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 50px;
}
.tab-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-link__el {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  padding: 25px 20px;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  text-align: center;
  font-weight: 700;
  margin-left: -1px;
}
.tab-link__el:hover {
  color: #189e00;
}
.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.info-col-lg {
  width: 65%;
}
.info-col {
  width: 27%;
  position: relative;
}
.list-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.list-filter__el {
  border: 1px solid #dbdbdb;
  padding: 8px 25px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  font-weight: 700;
  opacity: 0.6;
  font-size: 14px;
}
.list-filter__el:hover {
  cursor: pointer;
}
.mixitup-control-active {
  opacity: 1;
  color: #189e00;
  border: 1px solid #189e00;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
