@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1280px,10px)

.page
	f()
	fl()
	min-height 100vh

.content
	flex-grow 1
	padding-top: 40px

.content--mid
	flex(mid)

// animate top menu
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0)
		visibility: visible;
	to
		transform: translate3d(0, 0, 0)

.shrink
	position fixed!important
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 10
.header-wrap--main.shrink
	background: white !important
	.logo--main
		display none
	.logo--sm
		display block
	.logo
		+below(768px)
			height: 50px
			img
				height: 50px
				width: 100%
		height: 80px
// animate top menu === end

// error
.page-error
	flex(mid)
	fl()
	height: 100%
.page-error__title
	@extend .type--xl
	margin-bottom: 30px
	font-weight: 700
	color $gray
.page-error__img
	margin-bottom: 30px
.page-error__text
	@extend .type--md
	color $gray
	margin-bottom: 30px
.page-error__get
	@extend .btn--md
	@extend .btn--mark
// error === end

// modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #000000b3
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(960px)
		width: 480px
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	transform scale(.9) translateZ(0) translate3d(0, 0, 0)
	will-change: transform, opacity;
	backface-visibility: hidden
	position: absolute
	opacity 0
	transition transform .6s, opacity .8s
	width 900px
	left -9999px
	top -9999px
	.order__row
		margin-bottom: 20px
		border-bottom 0

.modal--sm
	width 460px

.modal-content
	+below(960px)
		height: 100%
		padding: 20px
		overflow-y auto
		width: 95%!important
		margin: 20px auto
	background: white
	position: relative

.modal__show
	max-height 100%
	opacity 1
	transform scale(1) translateZ(0) translate3d(0, 0, 0)
	position: relative
	z-index 1000
	left initial
	top initial
	transition transform .6s, opacity .8s
	will-change: transform, opacity

.modal-close
	+below(640px)
		top 15px
		right: 15px
	position: absolute
	top: 9px
	right: 9px
	cp()
	flex(mid)
	z-index 10
	&:hover
		.icon
			opacity: 1
	.icon
		+below(640px)
			size 14px
		tr()
		size 18px
		fill black
		opacity:.3

.modal-hide-animation
	transform scale(.9)
	opacity 0
	transition transform .6s, opacity .8s

.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	@extend .type--lg
	font-weight: 700

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	margin: 20px auto
	//width: 80%
	line-height: 1.6


.modal-send
	+below(640px)
		padding: 18px 5px
	@extend .btn--md
	@extend .btn--mark
	width: 100%

.modal-container
	f()
	position relative
	&:before
		+above(960px)
			content ''
			transform: translateZ(-1px)
			position absolute
			width calc(100% + 40px)
			height calc(100% + 40px)
			top -20px
			left -20px
			border 1px solid white
			opacity: .4
.modal-container--full
	display block
	.modal-container__img
		width: 100%
		padding: 10% 10%
	.modal-container__info
		width: 100%
.modal-container__img
	+below(960px)
		display none
	width: 50%
	bg-full()
	padding: 20% 10%
.modal-container__info
	+below(960px)
		width: 100%
	+below(640px)
		padding: 20px 10px
	width: 50%
	padding: 40px
	position relative
.modal-img
	flex(mid)
	margin-bottom: 30px
// modal === end

// cookie
.cookie
	position: fixed
	bottom 20px
	left 0
	width: 100%
	transform translateY(10px)
	opacity: 0
	z-index -1
	tr()
.cookie--active
	z-index 20
	opacity: 1
	transform translateY(0)
.cookie-wrap
	bsh()
	padding: 15px 20px
	br(20px)
	z-index 10
	background: white
	f()
	justify-content: space-between
	.icon
		&:hover
			fill black
		tr()
		size 14px
		margin-left: 10px
		fill $gray
		cp()
.cookie-text
	width calc(100% - 30px)
	font-size: 12px
// cookie === end

.header-wrap
	+below(1024px)
		border-bottom 1px solid $snow
	background: white
	box-shadow 0 5px 10px rgba(0, 0, 0, 0.05)
	z-index 10
.header
	+below(768px)
		height: 50px
		margin-left: -10px
		width calc(100% + 20px)
	height: 80px
	f()
	align-items center
.header-wrap--main
	width: 100%
	position: absolute
	background: #ffffffb8
	.logo
		+below(1280px)
			width: 175px
		+below(768px)
			height: 50px
			img
				height: 50px
		margin-right: 20px
		position relative
		width: 200px
		display inline-block
		height: 80px
		img
			+below(768px)
				width: 80px
	.logo--sm
		+below(768px)
			width: 175px
		width: auto
		display none
.logo
	+below(768px)
		img
			height: 50px
		margin-right: 10px
.logo--main
	img
		position absolute
		width: 100%
		top 0
		left 0
		height: auto!important
.header-nav
	+below(1280px)
		width: 65%
	+below(1024px)
		display none
	flex(between)
	width: 60%
	margin-left: 10px
.header-nav__el
	+below(1280px)
		font-size: 13px
		padding: 5px
	position relative
	padding: 10px 10px
	cp()
	z-index 2
	&:hover
		.header-nav__el-title
			color $green
.header-nav__el--sub
	tr()
	.header-nav__el-title
		border-bottom 1px dashed #c0c5cc
	&:hover
		background: white
		box-shadow 0 5px 10px rgba(0, 0, 0, 0.07)
		.header-nav__el-title
			border-bottom 1px dashed transparent
			color $gray
		.header-nav__drop
			z-indez 2
			opacity: 1
			transform translateY(0)
			left 0
.header-nav__el-title
	white-space nowrap
.header-nav__drop
	transition opacity .6s, transform .6s
	position absolute
	width: 300px
	padding: 20px
	background: white
	top 100%
	box-shadow 0 10px 10px rgba(0, 0, 0, 0.07)
	z-index -1
	opacity: 0
	transform translateY(-10px)
	left -9999px
.header-nav__drop-el
	display block
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0
	&:hover
		color $green
.header-contact
	+below(1024px)
		f()
		align-items center
		flex-flow row
		margin-right: 10px
	+below(640px)
		display none
	margin-left auto
	f()
	fl()
	align-items: flex-end
	.phone
		+below(1024px)
			margin 0 10px 0 0
		margin-bottom: 5px
.phone
	@extend .type--md
	font-weight 700
	white-space nowrap
	span
		font-size 16px
.callback

	f()
	align-items center
	cp()
	&:hover
		.callback-icon
			&:before
				content ''
				transform scale(1.8)
.callback-icon
	round()
	size 22px
	border 1px solid $mark
	margin-right: 10px
	position relative
	flex(mid)
	&:before
		content ''
		size 6px
		tr()
		round()
		transform scale(1)
		background: $mark

// main-slider
.main-slider__el
	+above(1025px)
		-webkit-filter unquote("blur(3px)")
	+below(1024px)
		margin: 0
	bg-full()
	position relative
	width: 100%
	height: 100vh
	margin: 0 10px
	margin-bottom: 40px
.main-slider__el.slick-active
	-webkit-filter unquote("blur(0)")

.main-slider-info
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	.main-cont
		height: 100%
		f()
		align-items center
.slider-banner
	+below(960px)
		width: 100%
		max-width 100%
	+below(640px)
		.btn--md
			padding: 10px
			width: 100%
	max-width 460px
.msg-box
	+below(640px)
		padding: 20px
		margin-left: 0
		margin-top: 0
	background-color #ffffff
	opacity 0.9
	padding: 30px 40px
	display inline-block
	margin-top: 10%
	margin-left: 20px
	position relative
	transform-style: preserve-3d
	&:before
		+below(640px)
			display none
		content ''
		transform: translateZ(-1px)
		position absolute
		width calc(100% + 40px)
		height calc(100% + 40px)
		top -20px
		left -20px
		border 1px solid white
.msg-box-wrap
	position relative
.slider-banner--lg
	max-width 560px
.slider-banner__title

	@extend .type--xl
	font-weight 700
	margin-bottom: 20px
.slider-banner__text
	+below(640px)
		font-size: 14px
	font-weight 700
	line-height: 1.4
	margin-bottom: 20px

// main-slider === end

// slick
// === убираем выделения активности при клик ===
.slick-slide
	&:hover
		outline none!important
	&:active
		outline none!important
	&:focus
		outline none!important
// === убираем выделения активности при клике end ===
 
// === for custom navigation === 
.slider-wrap
	position relative
 
//Навигация снаружи
.slider-wrap--simple
	.slider-control
		+below(1280px)
			top -60px
			position: static
			display inline-flex
			size 40px
			margin-bottom: 20px
			margin-left auto
		round()
		flex(mid)
		tr(all)
		size 60px
		background: $snow
		position: absolute
		top 50%
		margin-top: -30px
		z-index 10
		cp()
		&:hover
			background: darken($snow,3)
		.icon
			+below(768px)
				size 12px
			size 18px
	.slider-control--left
		+below(1440px)
			left -40px
		+below(1280px)
			right: 100px
			left initial
		left -80px
	.slider-control--right
		+below(1440px)
			right -40px
		+below(1280px)
			right: 0
		right -80px
//Навигация снаружи end
 
//Навигация внутри
.slider-wrap--inarrow
	.slider-control
		flex(mid)
		tr(all)
		position: absolute
		top 50%
		margin-top: -20px
		z-index 10
		padding: 20px 10px
		background: black
		cp()
		opacity: .6
		&:hover
			opacity: 1
			.icon
				fill white
		.icon
			fill white
			size 30px
	.slider-control--left
		left 0
	.slider-control--right
		right 0
//Навигация внутри
// === for custom navigation === 
 
//=== Внешний вид пагинации ===
.slick-dotted.slick-slider
	margin-bottom: 0
.slick-dots
	width: 100%
	display: flex !important
	align-items: center
	justify-content: center
	bottom 50px
	li
		+below(720px)
			size 10px
			flex(mid)
	.dot
		+below(720px)
			flex(mid)
			size 6px
		background: white
		width: 20px
		height: 4px
		display: block
		br(3px)
		opacity: .5
	.slick-active
		.dot
			opacity: 1
.slick-slide
	img
		width: 100%
//=== Внешний вид пагинации end===

.slider-control-wrap--sm
	+below(1024px)
		display none
	f()
	flex(between)
	width: 100%
	.slider-control
		top calc(50% - 15px)
		position absolute
		padding: 10px
		flex(mid)
		cp()
		size 30px
		br(4px)
		background: white
		box-shadow 0px 2px 3px #929292
		.icon
			size 14px
	.slider-control--left
		left -20px
	.slider-control--right
		right -20px

// slick === end


// grid
.row
	+below(768px)
		grid-gap 20px
	display: grid
	grid-gap 40px
.row--clear
	grid-gap 0
.row-2
	+below(768px)
		grid-template-columns: 1fr
	grid-template-columns: repeat(2, 1fr)

.row-2--sm
	grid-template-columns: repeat(2, 1fr)

.row-3
	grid-gap 30px
	+below(768px)
		grid-gap 20px
		grid-template-columns: repeat(2, 1fr)
	+below(480px)
		grid-template-columns: 1fr
	grid-template-columns: repeat(3, 1fr)


.fluid-cont
	+below(768px)
		fw()
	f()
.fluid-cont-el
	+below(768px)
		width: 100%
	width: 50%
	.map
		height: 100%

.fluid-cont-el--left
	f()
	.fluid-cont-wrap
		+below(768px)
			max-width 100%
			width: 100%
			padding: 30px 10px
		max-width 640px
		margin-left auto
		padding: 40px 40px 40px 10px

.fluid-cont-el--right
	f()
	.fluid-cont-wrap
		+below(768px)
			max-width 100%
			width: 100%
			padding: 30px 10px
		max-width 640px
		margin-right auto
		padding: 40px 10px 40px 40px

.fluid-cont-el--gray
	background: $snow

.fluid-cont-img
	+below(768px)
		padding: 30% 10%
	bg-full()
	padding: 25% 10%
	position relative
	flex(mid)
	height: 100%
// grid === end

.box-img
	+below(640px)
		margin-left -10px
		width calc(100% + 20px)
	bg-full()
	padding: 32% 10%
.position
	margin-bottom: 10px
	color $gray
	line-height: 1.6
	.icon
		fill $gray

.position--mark
	color $green
	.icon
		fill $green

.example
	+below(768px)
		margin-bottom: 30px
	margin-bottom: 90px

.card__img
	bg-full()
	padding: 30% 10%
	display block
	margin-bottom: 15px
.card-name
	//link($green)
	display inline-block
	font-weight: 700
	.type--gray
		font-weight: 400
		margin-left: 5px
		font-size: 14px
.example__text
	line-height: 1.6
	margin-bottom: 30px

.example__wrap
	f()
	fl()
	height: 100%

.example-img
	margin-top: auto

.link
	position relative
	display inline-block
	padding-bottom: 4px
	&:before
		content ''
		bottom 0
		left 0
		background: $gray-light
		height: 1px
		width: 100%
		position absolute
	&:after
		content ''
		bottom 0
		left 0
		background: $green
		height: 2px
		width: 20%
		position absolute
		tr()
a.link
	&:hover
		&:after
			content ''
			width: 100%

.border
	position relative
	transform-style: preserve-3d
	+above(769px)
		&:before
			content ''
			width: 100%
			height: 100%
			border 1px solid $border-color
			position absolute
			transform: translateZ(-1px)
			z-index -1
.border--bottom
	+above(769px)
		&:before
			content ''
			right: -15px
			bottom -15px

.border--top
	&:before
		content ''
		left: -15px
		top -15px

.border--left
	&:before
		content ''
		left: -15px
		bottom -15px

.play
	position absolute
	.icon
		+below(768px)
			size 60px

		&:hover
			fill $mark
		size 80px
		cp()
		tr()
		z-indez 2
		fill white
		round()

.section
	+below(1024px)
		margin-bottom: 30px
	margin-bottom: 60px
.section-extend
	+below(1024px)
		padding: 30px 0
		//margin-bottom: 30px
		margin-bottom: 0
	padding: 60px 0
	margin-bottom: 60px
.section-box
	+below(1024px)
		padding: 30px 0
	padding: 60px 0
.section--gray
	background: $snow
.advant
	+below(768px)
		grid-gap 10px
	+below(640px)
		display block
		width calc(100% + 20px)
		margin-left: -10px
		margin-top: -30px
	display: grid
	grid-gap 40px
	grid-template-columns: repeat(3, 1fr)
.advant__el
	+below(640px)
		margin-bottom: 5px
	bg-full()
	padding: 30% 10%
	f()
	position relative
.advant__el-title
	position absolute
	bottom 0
	left 0
	width: 100%
	padding: 15px
	text-align center
	background: #1111117a
	color white

.order-banner
	+below(640px)
		background: none!important
	bg-full()

.order-banner-img
	+above(640px)
		display none
	bg-full()
	padding: 30% 10%
	min-height 300px
.order-banner-wrap
	+below(640px)
		padding: 0
	center(1280px,10px)
	f()
	padding: 100px 0

.order-form__title
	position relative

.order-form
	+below(640px)
		padding: 10px
		margin: 30px 0
		max-width 100%
	max-width 460px
	margin-top: 0
	margin-left: auto
	padding: 40px
	margin-right: 30px

.map
	+below(768px)
		padding: 30% 10%
		min-height 350px
	position relative
	padding: 26% 10%

.map__el
	position absolute
	top 0
	left 0
	height: 100%
	width: 100%
	bg-full()

.map--sm
	padding: 20% 10%

.map--full
	padding: 15% 10%
	min-height 500px
.img
	margin-bottom: 30px
.unit
	line-height: 1.6
.unit__img
	bg-full()
	padding: 32% 10%
	margin-bottom: 10px
	position relative
.unit__label
	position absolute
	top 15px
	left 0
	padding: 5px 15px
	color white
	background: $mark
	font-size: 12px
.unit__title
	font-weight: 700
	@extend .type--md
	color black
	display inline-block
	margin-bottom: 10px
.unit__type
	@extend .type--sm
	color $gray
	span
		display inline-block
		margin-right: 15px
		&:last-child
			margin-right:0

.soc-row
	f()
	align-items center
	span
		display inline-block
		margin-right: 10px
		font-weight: 700
.soc-row__el
	round()
	flex(mid)
	tr(all)
	margin-right: 10px
	.icon
		size 40px
		fill $green
		tr()
		&:hover
			fill white

// footer
.footer-wrap
	background: #2a2b34
	color white
	padding: 50px 0
.footer
	+below(1024px)
		fw()
	f()
	justify-content: space-between
	a
		display block
		margin-bottom: 5px
		color white
		tr()
		&:hover
			color $green
.footer-copy
	+below(1024px)
		width: 50%
		margin-bottom: 15px!important
		display inline-block
	+below(640px)
		width: 100%
	width: 20%
.footer-adr
	+below(1024px)
		width: 50%
		margin-bottom: 15px!important
		display inline-block
	+below(640px)
		width: 100%
	width: 25%
	line-height: 1.4
.footer-phone
	+below(1024px)
		width: 50%
		margin-bottom: 15px!important
		display inline-block
	+below(640px)
		width: 100%
	width: 15%
.footer-mail
	+below(1024px)
		width: 50%
		margin-bottom: 15px!important
		display inline-block
	+below(640px)
		width: 100%
	width: 15%
// footer === end

.bread
	+below(768px)
		margin-bottom: 20px
		font-size: 12px
	margin-bottom: 30px
	font-size: 14px
	a span
		color black
	span
		color $gray-light
.village-head
	.title
		margin-bottom: 10px
	.position
		+below(768px)
			margin-bottom: 20px
		margin-bottom: 30px


.kind-row
	f()
	align-items center
	&:last-child
		margin-bottom: 0
	.icon
		size 40px
		margin-right: 20px
	span
		display inline-block
		width calc(100% - 60px)
		line-height: 1.4
.kind-row--extend
	margin-bottom: 20px

.kind-wrap
	+below(768px)
		margin: 30px 0
	margin-bottom: 40px

.kind-wrap--mark
	.icon
		fill $green

.tab-link-wrap
	+below(768px)
		margin-bottom: 30px
	border-top 1px solid $border-color
	border-bottom 1px solid $border-color
	margin-bottom: 50px
.tab-link
	+below(1024px)
		width: 100%
		overflow auto
	f()
	flex(between)
.tab-link__el
	+below(1024px)
		padding: 15px
	white-space nowrap
	tr()
	padding: 25px 20px
	display inline-block
	flex-grow 1
	border-left 1px solid $border-color
	border-right 1px solid $border-color
	text-align center
	font-weight: 700
	margin-left: -1px
	&:hover
		color $green
.tab-head-mobile
	+above(769px)
		display none
	font-size: 16px
	line-height: 1.4
	padding: 15px 15px 15px 0
	flex(between)
	span
		width calc(100% - 30px)
	.icon
		tr()
		size 16px
.tab-head-mobile.active
	color $green
	.icon
		fill $green
		transform rotate(45deg)
.tab-cont-content
	+below(768px)
		display none
		padding-bottom: 30px
.info
	+below(1024px)
		fw()
	f()
	justify-content space-between
	align-items: stretch
.info-col-lg
	+below(1024px)
		width: 100%
	width: 65%
.info-col
	+below(1024px)
		width: 100%
	width: 27%
	position relative

.list-filter
	+below(768px)
		margin-bottom: 10px
	f()
	fw()
	align-items center
	margin-bottom: 20px
.list-filter__el
	+below(768px)
		padding: 5px 15px
		font-size: 12px
		margin-right: 5px
		margin-bottom: 5px
	border 1px solid $border-color
	padding: 8px 25px
	margin-right: 10px
	margin-bottom: 10px
	br(30px)
	font-weight: 700
	cp()
	opacity: .6
	font-size: 14px
.mixitup-control-active
	opacity: 1
	color $green
	border 1px solid $green



.vendor-img
	+below(768px)
		max-width 100px
	max-width 170px

.filter-wrap
	padding: 10px 0
	background: $snow
	margin-bottom: 50px
.filter-cont
	display none
	padding-bottom: 20px
.filter-head
	f()
	align-items center
.filter-toggle
	flex(mid)
	padding: 20px 0
	background: $snow
	cp()
	.icon
		size 16px
		margin-right: 10px
	.is-close
		display none
.filter-toggle.active
	.is-open
		display none
	.is-close
		display block
.filter
	+below(1024px)
		grid-template-columns: repeat(3, 1fr)
	+below(768px)
		grid-template-columns: repeat(2, 1fr)
	+below(640px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(5, 1fr)
	margin: 15px 0 30px 0
//.filter-col
.filter-title
	font-weight: 700
	margin-bottom: 20px
.filter-list
	.check-el
		+below(640px)
			font-size: 12px

		margin-bottom: 20px
		font-weight: 600
		sup
			color $gray
			font-size: 10px!important
			display inline-block
			transform translateY(-3px)
		&:last-child
			margin-bottom: 0
//.style-label
//.style-label--checkbox
//.style-input
//.style-input-element
//.icon-check
//.style-input-text

// drop
.drop-fade
	transform: scaleY(0)
	transition opacity .6s
	transform-origin: top
	opacity: 0
	z-index -1
	position absolute
	left -9999px
 
.drop-fade.active
	transition opacity .6s
	transform: scaleY(1)
	opacity: 1
	z-index 1
	position relative
	left 0
 
 
.drop-slide
	transform: scaleY(0)
	transition transform .6s, opacity .6s
	transform-origin: top
	z-index -1
	position absolute
	left -9999px
.drop-slide.active
	transition transform .6s, opacity .6s
	transform: scaleY(1)
	opacity: 1
	z-index 1
	position relative
	left 0
// drop === end

// item
.card-wrap
	+below(768px)
		fw()
	f()
	justify-content space-between
	margin-bottom: 40px
.card-img
	+below(768px)
		width: 100%
	width: calc(100% - 440px)
	.gallery-slider-wrap
		margin-top: 0

.gallery
	+below(1024px)
		grid-gap 10px
		grid-template-columns: repeat(auto-fill, minmax(8rem,1fr))
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(4, 1fr)

.gallery__el
	+below(640px)
		br(4px)
	bg-full()
	padding: 34% 10%
	br(10px)
.gallery__el-nav
	bg-full()
	br(10px)
	cp()
	padding: 34% 10%
	border 2px solid transparent
.gallery-slider-nav
	.slick-slide
		+below(640px)
			margin: 0 5px
		margin: 0 10px
	.slick-current
		tr()
		.gallery__el-nav
			opacity: .6
	.slick-track
		margin-left: 0px
	.slick-list
		margin: 0 -10px
.gallery-slider
	margin-bottom 10px

.gallery-slider-wrap
	+below(640px)
		margin-bottom: 20px
	margin: 40px 0

.card-descr
	+below(768px)
		width: 100%
		margin-left: 0
	width: 400px
	margin-left: 20px
// item === end


// tab
.js-tab-info
	+above(769px)
		position: absolute
		top 0
		left: -9999px
		opacity:0

.js-tab-info.active
	opacity: 1
	position: relative
	top initial
	left initial
	transition opacity .6s
// tab === end

//.card-descr
.card-row
	margin-bottom: 30px
.card-state
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(2, 1fr)
//.card-state__el
.card-state__title
	font-weight 600
	color $gray
	margin-bottom: 5px
.card-state__val
	line-height: 1.6
.card-size
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(3, 1fr)
//.card-size__el
.card-size__el-head
	f()
	align-items: flex-end
	margin-bottom: 5px
.card-size__el-numb
	@extend .type--lg
	line-height: 1
	margin-right: 10px
.card-size__el-icon
	.icon
		+below(768px)
			size 40px
		size 54px
//.card-size__text
.card-type
	f()
	fw()
.card-type__el
	margin: 0 10px 5px 0
	padding: 3px 10px
	border 1px solid $border-color
	font-weight: 700
	text-align center
.card-advant
	padding: 20px
	line-height: 1.4
	border 1px solid $snow
	margin-top: -1px
	&:nth-child(odd)
		background: $snow
.card-get
	+below(640px)
		fl()

	flex(between)
	.btn--md
		+below(640px)
			width: 100%
		width: 48%
	.card-get__price
		+below(640px)
			margin-bottom: 10px
		padding: 15px 10px
	.card-get__change
		+below(640px)
			padding: 15px 10px
		padding: 10px 5px
.card-info
	+below(1280px)
		width: 100%
	+below(1024px)
		margin-bottom: 30px
	width calc(100% - 440px)
	margin-bottom: 60px
.card-callback
	+below(640px)
		display block
	flex(between)
.card-callback__text
	+below(640px)
		margin-bottom: 20px
	font-weight: 700
	line-height: 1.4
	margin-right: 20px
.tab__head-wrap
	+below(768px)
		display none
	border-bottom 1px solid $border-color
//.main-cont
.tab
	margin: 20px 0 50px 0
.tab__head
	+below(768px)
		display none
	f()
.tab__head-el
	+below(1200px)
		padding: 15px 20px
	+below(1024px)
		padding: 15px
		font-size: 12px
	padding: 30px
	flex(mid)
	margin-bottom: -1px
	font-weight: 700
	text-align center
	cp()
	border 1px solid transparent
	transition color .4s
	&:hover
		color $green
.tab__head-el.active
	border 1px solid $border-color
	border-bottom 1px solid transparent
	background: white
//.tab-info-wrap
.tab-cont
	+below(768px)
		padding: 0
		border-bottom 1px solid $border-color
	padding: 30px 30px 0 30px

.payment-adv
	+below(1024px)
		grid-gap 20px
	+below(768px)
		margin: 30px 0
		grid-template-columns: repeat(2, 1fr)
	+below(640px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 30px
	grid-template-columns: repeat(3, 1fr)
	margin: 50px 0
.payment-adv__el
	f()
	align-items center
	.icon
		margin-right: 20px
		size 60px
	span
		display inline-block
		width calc(100% - 80px)
		line-height: 1.6


// accordion
.accordion
	+below(640px)
		width 100%
		margin-bottom: 30px
	background: white
.accordion__el
	border 1px solid #e5e5e5
	margin-top: -1px
	cp()
	&:hover
		.accordion__el-head-icon
			&:before
				content ''
				background: $green
			&:after
				content ''
				background: $green

.accordion__el-head
	+below(640px)
		padding: 20px
	padding: 30px 40px
	flex(between)
	color black

.accordion__el-head-text
	+below(640px)
		font-weight: 400
		line-height: 1.6
		font-size: 14px
	@extend .type--md
	width: 80%
	font-size: 18px
	font-weight: 700



.accordion__el-head-icon
	+below(640px)
		size 16px
	position: relative
	size 24px
	&:before
		content ''
		tr(all)
		height: 2px
		width: 100%
		background: gray
		position: absolute
		top calc(50% - 1px)
	&:after
		content ''
		tr(all)
		height: 100%
		width: 2px
		background: gray
		position: absolute
		left calc(50% - 1px)

.accordion__el-content
	+below(640px)
		padding:20px
	padding: 40px
	display: none
	p
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0

.accordion__el--active
	border-bottom 1px solid $border-color
	.accordion__el-head-text
		color $green
	.accordion__el-head-icon
		&:after
			content ''
			transform rotate(45deg)
		&:before
			content ''
			transform rotate(45deg)
// accordion === end

.payment-kind
	+below(1280px)
		grid-gap 20px
	+below(960px)
		grid-template-columns: repeat(2, 1fr)
	+below(480px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 30px
	grid-template-columns: repeat(4, 1fr)
.payment-kind--lasur
	background: #19b99b
	.payment-kind__el-coner
		background: #19b99b
.payment-kind--green
	background: #2ecd71
	.payment-kind__el-coner
		background: #2ecd71
.payment-kind--yellow
	background: #f2c40f
	.payment-kind__el-coner
		background: #f2c40f
.payment-kind--orange
	background: #e77e23
	.payment-kind__el-coner
		background: #e77e23

.payment-kind__el-head
	padding: 30px 10px
	flex(mid)
	fl()
	min-height 230px
	margin-bottom: 30px
	position relative
.payment-kind__el-coner
	position absolute
	size 30px
	transform rotate(45deg)
	bottom -10px
	left calc(50% - 15px)
.payment-kind__el-img
	margin-bottom: 20px
.payment-kind__el-title
	+below(1280px)
		font-size: 14px
	+below(640px)
		font-size: 18px
	@extend .type--md
	font-weight 700
	color white
.payment-kind__el-info
	line-height: 1.6

.payment-type
	+below(1200px)
		grid-template-columns: repeat(2, 1fr)
		grid-gap 20px
	+below(640px)
		grid-gap 10px
		grid-template-columns: 1fr
	display: grid
	grid-gap 30px
	grid-template-columns: repeat(4, 1fr)
.payment-type__el
	+below(640px)
		padding: 20px 15px
	padding: 30px
	background: white
	border 1px solid $gray-light
.payment-type__img
	margin-bottom: 15px
.payment-type__text
	width: 80%
	line-height: 1.6
	font-size: 14px

.about
	+below(640px)
		padding: 30px 0
	f()
	fw()
.about-col
	+below(640px)
		width: 100%
	width: 50%

.about-col__img
	+below(640px)
		padding: 40% 10%
	width: 100%
	height: 100%
	bg-full()

.about-col__text
	+below(640px)
		padding: 0 0 30px 0
	padding: 30px
	p
		&:last-child
			margin-bottom: 0
	ul
		margin-bottom: 0
		li
			margin-bottom: 2px

.about-col__text--clear
	padding-left: 0

.contact-row
	margin-bottom: 30px
.contact-row__el
	display block
	font-weight: 700


// drop
.dropdown
	width: 100%
	display inline-block
	br(30px)
	tr()
	position relative
	border 1px solid $border-color
	outline none!important
	max-width 100%
.dropdown-current
	tr(all)
	padding 18px 30px
	cursor pointer
	padding-right 25px
	font-weight: 700
	display: table;
	table-layout: fixed;
	width: 100%
	.icon
		position absolute
		top calc(50% - 6px)
		right 20px
		size 12px
		tr()
.dropdown-current__val
	display: table-cell
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	width: 100%
.dropdown.active
	border-radius 30px 30px 0 0
	.icon
		transform rotate(180deg)

.dropdown-menu
	position absolute
	background-color #fff
	width calc(100% + 2px)
	left -1px
	margin-top -1px
	border-radius 0 0 30px 30px
	overflow hidden
	display none
	max-height 250px
	overflow-y auto
	z-index 10
	border 1px solid $border-color
.dropdown-menu__el
	padding 15px 30px
	cp()
	tr()
	border-bottom 1px solid $border-color
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	//background: #f9f9f9
	&:last-child
		border 0
	&:hover
		background: white
		color black
// drop === end

.size
	display: grid
	grid-gap 5px
	grid-template-columns: repeat(auto-fit, minmax(3rem,1fr))
	br(30px)
	border 1px solid $border-color
	margin-bottom: 20px
.size__el
	+below(480px)
		font-weight:700
	cp()
	tr()
	font-weight: 700
	padding: 18px 30px
	text-align: center
	line-height: 1
	&:first-child
		border-radius 30px 0 0 30px
	&:last-child
		border-radius 0 30px 30px 0
	&:hover
		border-color $green
.size__el--active
	background: $green
	color white


// slider menu
.head-toggle
	+below(640px)
		margin-left auto
		margin-right: 20px
	flex(mid)
	cp()
	margin-right: 10px
	+above(1025px)
		display: none
	.icon
		+below(640px)
			size 20px
		size 25px
		fill black
	.icon-close
		display: none

.head-toggle.slide-block-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-block
	+below(768px)
		top 50px
		height: calc(100% - 50px) // Высота шапки
	+below(480px)
		width: 100%
	border-top 1px solid $snow
	position: fixed
	top 80px // Высота шапки
	width: 360px
	tr(all)
	height: calc(100% - 80px) // Высота шапки
	z-index 100
	background: white
.slide-block--left
	left 0
	transform translateX(-100%)

.slide-block--right
	right 0
	transform translateX(100%)

.slide-block--open
	transform translateX(0%)

.slide-block-wrap
	padding: 30px
	.phone
		+above(640px)
			display none
		margin-bottom: 10px
		display inline-block
	.callback
		+above(640px)
			display none
		margin-bottom: 10px

.slide-nav__el
	position relative
	cp()
	z-index 2
	&:hover
		.slide-nav__el-title
			color $green
.slide-nav__el--sub
	tr()
	.slide-nav__el-title
		border-bottom 1px dashed #c0c5cc
	&:hover
		background: white
		box-shadow 0 5px 10px rgba(0, 0, 0, 0.07)
		.slide-nav__el-title
			border-bottom 1px dashed transparent
			color $gray
		.slide-nav__drop
			z-indez 2
			opacity: 1
			transform translateY(0)
			left 0
.slide-nav__el-title
	font-weight: 700
	padding: 10px 0
	display inline-block
	.icon
		size 12px
		margin-left: 5px
		tr()
.slide-nav__el-title.active
	color $green
	.icon
		fill $green
		transform rotate(180deg)
.slide-nav__drop
	display none
	padding: 10px 0
.slide-nav__drop.active
	display block
.slide-nav__drop-el
	display block
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0
	&:hover
		color $green

// slider menu === end

.order-mobile-2
	+below(768px)
		order 2
.order-mobile-1
	+below(768px)
		order 1

// paralax
.content-paralax
	position relative

.paralax-el
	+below(1600px)
		display none
	position absolute


.paralax-el__1
	left 0
	top 0

.paralax-el__2
	right 0
	top 10%

.paralax-el__3
	right 0
	top 40%

.paralax-el__4
	right 0
	top 50%


.paralax-el__5
	right -80px
	top 20%

.paralax-el__6
	left 0
	top 70%

.paralax-el__7
	right -6 0px
	top 20%

.paralax-el__8
	left 0
	top 70%
// paralax === end