include block_html/_style.pug
include block_html/_include.pug

.page
	+header("main")
	.main-slider
		.main-slider__el(style="background-image:url('img/slide-1.jpg')")
			.main-slider-info
				.main-cont
					.slider-banner.msg-box
						h1.slider-banner__title Коттеджный поселок «ЕЛАГИНО»
						.slider-banner__text идеальное место для тех, кто хочет жить рядом с городом, вдали от суеты, имея возможность быстро добраться до него в любой момент
						.btn--md.btn--mark Выбрать участок
		.main-slider__el(style="background-image:url('img/slide-3.jpg')")
			.main-slider-info
				.main-cont
					.slider-banner.slider-banner--lg.msg-box
						.slider-banner__title Фильм о жизни в нашем поселке
						a(href="https://youtu.be/t8VcBdgGNco").btn--md.btn--mark.fancybox Смотреть видео
		.main-slider__el(style="background-image:url('img/slide-5.jpg')")
			.main-slider-info
				.main-cont
					.slider-banner.slider-banner--lg.msg-box
						.slider-banner__title Новый план застройки
						.slider-banner__text идеальное место для тех, кто хочет жить рядом с городом, вдали от суеты, имея возможность быстро добраться до него в любой момент
						a(href="https://youtu.be/t8VcBdgGNco").btn--md.btn--mark.fancybox Смотреть видео
	.content
		.main-cont
			.title.title--lg Наши посёлки
			//items slider
			.slider-wrap.slider-wrap--simple
				.slider-control.slider-control--left
					+icon("arrow-left","icon")
				.slider-control.slider-control--right
					+icon("arrow-right","icon")
				.example.slider-item
					- for (var i=0;i<4;i++)
						.slider-el
							.row.row-2
								.col
									.box-img.border.border--bottom(style="background-image:url('img/village-1.jpg')")
								.col
									.example__wrap
										.example-info
											.title.title--md.link Ускуля
											.position
												+icon("placeholder","icon icon--sm")
												span Ломоносовский район, деревня Ускуля / 3 км от города
											.example__text Клубный коттеджный поселок рядом с Верхним Меньшиковским парком города Ломоносов. Удачное местоположение и хорошие соседи — рядом гольфклуб, гостиничный комплекс, школа верховой езды.
										.example-img
											.row.row-2--sm
												.card
													a(href="img/item-1.jpg" style="background-image:url('img/item-1.jpg')").fancybox.card__img
													.card-name
														a(href="#").link Оланд
														span.type--gray 130 м <sup>2</sup></span>
												.card
													a(href="img/item-2.jpg" style="background-image:url('img/item-2.jpg')").fancybox.card__img
													.card-name
														a(href="#").link Барнхауз
														span.type--gray 130 м <sup>2</sup></span>
			//items slider === end

		// video block
		.fluid-cont.section
			.fluid-cont-el.fluid-cont-el--left.order-mobile-2
				.fluid-cont-wrap
					.title.title--lg Коттеджные посёлки в Ленинградской области
					.text
						p Мы стояли у истоков формирования земельного рынка Ленинградской области с 2007 года.

						p Основная сфера деятельности нашей компании – девелопмент: подготовка готовых проектов посёлков и реализация земельных участков c полным комплектом документов.

						p Мы сформировали ценовую политику, дающую возможность каждому воплотить мечту о загородном доме.
			.fluid-cont-el.order-mobile-1
				a(href="https://youtu.be/t8VcBdgGNco" style="background-image:url('img/slide-5.jpg')").fluid-cont-img.fancybox
					.play
						+icon("play","icon")
		// video block === end

		// advant
		.main-cont
			.advant.section
				.advant__el.border.border--bottom(style="background-image:url('img/advant-1.jpg')")
					.advant__el-title Собственное производство
						.advant__el-title-filter
				.advant__el(style="background-image:url('img/advant-2.jpg')")
					.advant__el-title Строительство с 1998 года
						.advant__el-title-filter
				.advant__el.border.border--top(style="background-image:url('img/advant-3.jpg')")
					.advant__el-title Собственная сырьевая база
						.advant__el-title-filter
		// advant === end

		+order()

		// garant
		.fluid-cont.section
			.fluid-cont-el
				.map
					.map__el(style="background-image:url('img/map.jpg')")
						//put map her + remove image
			.fluid-cont-el.fluid-cont-el--right
				.fluid-cont-wrap
					.border.border--top
						img(src="img/house-1.jpg", alt="").img
					.title.title--lg Гарантия 25 лет!
					.text
						p Строительство домов - наша профессия! Все работы выполняются на высоком профессиональном уровне.
						p Каждый этап работы оформляется отдельным официальным договором, гарантия по которому составляет – 25 лет. К каждому клиенту мы относимся с большим уважением и применяем в своей работе только индивидуальный подход.
		// garant === end

		// works
		.section
			.main-cont
				.title.title--lg Посёлки, которые мы сдаём к <span class="type--green">2022</span>&nbsp;году
				.row.row-3
					.unit
						.unit__img.border.border--top(style="background-image:url('img/house-2.jpg')")
						a(href="#").unit__title Сойкино
						.unit__text Клубный коттеджный поселок рядом с Верхним Меньшиковским парком города Ломоносов. Удачное местоположение и хорошие соседи — рядом гольфклуб, гостиничный комплекс, частный детский сад.
					.unit
						.unit__img(style="background-image:url('img/house-3.jpg')")
						a(href="#").unit__title Кузнецы
						.unit__text Удачное местоположение и хорошие соседи — рядом гольфклуб, гостиничный комплекс, частный детский сад. Клубный коттеджный поселок рядом с Верхним Меньшиковским парком города Ломоносов.
					.unit
						.unit__img.border.border--left(style="background-image:url('img/house-4.jpg')")
						a(href="#").unit__title Царская тропа
						.unit__text Клубный коттеджный поселок рядом с Верхним Меньшиковским парком города Ломоносов. Удачное местоположение и хорошие соседи.
		// works === end

	+footer()
include ./block_html/_script.pug
