include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		+bread()
		.section
			.main-cont
				.village-head
					.title.title--lg Южные просторы
					.position.position--mark
						+icon("placeholder","icon icon--sm")
						span Ломоносовский район, деревня Ускуля / 3 км от города

				// village intro
				.row.row-2
					.col
						.box-img.border.border--bottom(style="background-image:url('img/village-2.jpg')")
					.col
						.vendor-img
							img(src="img/vendor-1.jpg", alt="")
						.text
							p Поселок комфорт-класса с полным набором коммуникаций — дороги, магистральное электричество, газ, централизованное водоснабжение, канализация, въездная асфальтированная дорога, огороженная территория, пост охраны на въезде в поселок.
						.kind-wrap
							.kind-row.kind-row--extend
								+icon("energy","icon")
								span Электричество на каждый участок
							.kind-row.kind-row--extend
								+icon("road","icon")
								span Дороги на каждый участок
							.kind-row.kind-row--extend
								+icon("restroom","icon")
								span Канализация
							.kind-row.kind-row--extend
								+icon("bathroom","icon")
								span Центральный водопровод
						.btn--md.btn--mark Выбери свой участок
					// village intro === end

		// tab-link
		.tab-link-wrap
			.main-cont
				.tab-link
					-
						var items = [
							{name: "О посёлке", id: "#about"},
							{name: "Инфраструктура", id: "#infro"},
							{name: "В окрестностях", id: "#area"},
							{name: "Местоположение", id: "#position"},
							{name: "Генеральный план", id: "#plan"},
							{name: "Фотографии", id: "#photo"},
						];
					each item in items
						a(href = item.id rel = 'm_PageScroll2id' ).tab-link__el #{item.name}
		// tab-link === end

		// about
		.section#about
			.main-cont
				.info
					.info-col-lg
						.title.title--md О посёлке
						.text
							p Коттеджный поселок «Южные просторы» расположен рядом с поселком Рассколово, Виллозевского городского поселения в восточной части Ломоносовского района Ленинградской области. Статус земли – ДНП (вид разрешенного использования – дачное строительство). Старт продаж начался в 2017 г.

							p На территории поселка находится 186 участков, большая часть которых еще ждет своих хозяев. Можно спокойно жить в «Южных просторах», оформив постоянную прописку или приезжая в дачный сезон. Чтобы удовлетворить потребности и пожелания разной категории граждан участки имеют разную площадь от 7,87 до 14 соток.

							p В настоящее время для жителей поселка проложены грейдерные дороги и электричество. Однако в перспективе, «Южные просторы» должны стать поселком комфорт-класса с полным набором коммуникаций - дороги, магистральное электричество, газ, централизованное водоснабжение, обустроенная канализация, въездная асфальтированная дорога, огороженная территория, пост охраны на въезде в поселок. Также будут установлены камеры видеонаблюдения с круглосуточной записью и трансляцией в сеть интернет, позволяющие при необходимости жителям поселка наблюдать за своим домом из любой точки мира. Уличное освещение всей территории поселка будет осуществляться современными светодиодными лампами. В план поселка входит обустройство бульваров для прогулок, тротуаров вдоль дорог, магазинов, аптек, ФОКов, и т.д. На территории поселка, в общественно-досуговой зоне, запланировано строительство детских площадок и частного детского сада.

							p Комплекс всех услуг по обслуживанию поселка возьмет на себя обслуживающая компания, обеспечивающая бесперебойную работу инженерных сетей, а также уборку территории, озеленения, вывоз мусора и др. Очень важным преимуществом поселка является и то, что он находится в 30 минутах езды от Санкт-Петербурга, что очень важно для работающей части населения. Такая перспектива позволяет покупателю рассчитывать на комфортное проживание в «Южных просторах» в будущем.
					.info-col
						.btn--md.btn--mark.btn--scroll Выберите свой участок
		// about === end

		// infro
		.section-extend.section--gray#infro
			.main-cont
				.info
					.info-col-lg
						.title.title--md Инфраструктура
						.text
							p Жителям «Южных просторов» доступна вся инфраструктура поселения Виллози, расположенного на расстоянии 2,5 км. Это - школа, детский сад, торговый центр, амбулатория, отделение полиции, стадион, дом культуры где много кружков и секций для детей. Также, на расстоянии 6 км. от поселка находится город Красное Село, инфраструктура которого гораздо больше чем в Виллози. Там располагаются детские сады и школы, поликлиники и больницы, торгово-развлекательные центры, универсамы - Окей, Лента, Перекресток, аптеки, фермерские рынки, рестораны, кафе и многое другое для развития и досуга населения.
				.kind-wrap--mark.row.row-2
					-
						var items = [
							{icon: "house", text: "домовладения для круглогодичного проживания"},
							{icon: "engineer", text: "индивидуальные архитектурные решения"},
							{icon: "leaf", text: "современные финские технологии строительства и высококачественные и экологически чистые строительные материалы"},
							{icon: "road", text: "устройство дорог общего пользования, придорожная дренажная система на всей территории поселка"},
							{icon: "energy", text: "электричество по 15 квт на каждый участок с централизованным освещением всего посёлка"},
							{icon: "hotel", text: "аллеи и прогулочные дорожки, изящные беседки, спрятанные в лесной чаще"},
							{icon: "restroom", text: "канализация"},
							{icon: "bathroom", text: "центральный водопровод"},
							{icon: "lock", text: "устройство пропускного режима, кпп, автоматический шлагбаум"},
							{icon: "camera", text: "круглосуточный пост охраны и видеонаблюдение"},
							{icon: "football", text: "спортивные и детские площадки"},
							{icon: "parking", text: "гостевая парковка"},
							{icon: "grill", text: "места для барбекю и отдыха"},
							{icon: "rest", text: "три искусственных водоема с пирсами и частный пляж"},
							{icon: "wood", text: "лесопарковая зона площадью 45 га"},
							{icon: "flip", text: "гостиничный комплекс"},
							{icon: "horse", text: "конно-спортивный центр"},
							{icon: "swimming", text: "банный комплекс и спа-центр"},
							{icon: "dinner", text: "ресторанный комплекс"},
							{icon: "golf", text: "гольф-клуб европейского уровня «strawberry fields»"},
						];
					each item in items
						.kind-row
							svg(class="icon")
								use(xlink:href="#" + item.icon)
							span=item.text
		// infro === end

		// area
		.section-extend#area
			.main-cont
				.row.row-3
					.unit
						.unit__img(style="background-image:url('img/area-1.jpg')")
						.type--bold Дворцово-парковый ансамбль «Ораниенбаум»
					.unit
						.unit__img(style="background-image:url('img/area-2.jpg')")
						.type--bold Дворцово-парковый ансамбль «Петергоф»
					.unit
						.unit__img(style="background-image:url('img/area-3.jpg')")
						.type--bold Финский залив
					.unit
						.unit__img(style="background-image:url('img/area-4.jpg')")
						.type--bold Город-герой Ломоносов
					.unit
						.unit__img(style="background-image:url('img/area-5.jpg')")
						.type--bold Город-герой Кронштадт
		// area === end

		// location
		.fluid-cont.section#position
			.fluid-cont-el.fluid-cont-el--left.fluid-cont-el--gray
				.fluid-cont-wrap
					.title.title--md Местоположение
					.text
						p Помимо исторической и экологической уникальности этого места безусловным преимуществом локации является близлежащая современная социальная инфраструктура и прекрасное транспортное сообщение с городом .
						p Ваши будущие соседи – гольф клуб европейского уровня «Strawberry Fields» , конно-спортивный центр международного уровня, спроектированный и создаваемый компанией «Возрождение», дворцово-парковые ансамбли и инфраструктура г. Ломоносов, г. Петергоф, где есть вся необходимая для комфортной жизни инфраструктура: рестораны, магазины товаров повседневного спроса, больницы, аптеки, отделения банков, детские сады и общеобразовательные школы, спортивные секции, бассейн и конный клуб.

						p Уникальное месторасположение и превосходная транспортная доступность позволят жителям поселка максимально быстро и комфортно добраться до центра Санкт-Петербурга.

						p до КАД – 2 км, <br> до ст. метро Проспект Ветеранов не более 30 км, <br> г. Ломоносов – 6 км, <br> г. Петергоф – 15 км, <br> г. Сестрорецк – 30 мин. езды на автомобиле.
			.fluid-cont-el
				.map
					.map__el
						//put map her
		// location === end

		// plan
		.section-extend#plan
			.main-cont
				.row.row-2
					.col
						img(src="img/plan.jpg", alt="")
					.col
						.title.title--md Генеральный план
						.text
							p Нам приятно представить для Вас финские проекты домостроений известного архитектурного бюро «Jetta-talo»

							p Все проекты домов имеют сертификаты соответствия европейским нормам и строятся на территории Финляндии и Швеции много лет. Каждое помещение выверено годами практики строительства. Их высокая оценка даёт нам уверенность надеяться на воплощение Вашей мечты о загородном отдыхе в любое время года. Создания Вашего качества жизни вблизи от города со всей необходимой инфраструктурой и коммуникациями в доме мечты.

							p Проекты исполнены в классическом варианте скандинавского строительства. По Вашему желанию мы можем изменить назначение и границы помещений в каждом проекте. Выбрать материалы отделки, добавить элементы дополнительного утепления Фундамент и материалы кровли.

							p Все дома сдаются в кратчайшие сроки после подписания контракта и с полной отделкой. Срок строительства от начала работ до заезда и проживания в среднем занимает 30 дней. Данный факт обеспечивает нашим клиентам возможность уже через месяц завезти мебель и начать комфортную жизнь на своём новом участке вблизи города со всеми удобствами. *время организации и ввода в эксплуатацию коммуникаций оговариваются отдельно, но так же занимают небольшие интервалы.
						.btn--md.btn--mark.btn--fix Оставить заявку
		// plan === end

		// gallery
		.section-extend.section--gray#photo
			.main-cont
				.title.title--md Фотографии наших работ
				.list-filter
					.list-filter__el(data-filter="all") Все
					.list-filter__el(data-filter=".filter--house") Дома
					.list-filter__el(data-filter=".filter--area") Участки
					.list-filter__el(data-filter=".filter--interior") Интерьер
				.gallery
					- for (var i=1;i<=3;i++)
						a(href="img/slide-1.jpg" style="background-image:url('img/slide-1.jpg')").gallery__el.fancybox.mix.mix-el.filter--house
						a(href="img/slide-1.jpg" style="background-image:url('img/slide-2.jpg')").gallery__el.fancybox.mix.mix-el.filter--area
						a(href="img/slide-1.jpg" style="background-image:url('img/slide-3.jpg')").gallery__el.fancybox.mix.mix-el.filter--interior
						a(href="img/slide-1.jpg" style="background-image:url('img/slide-4.jpg')").gallery__el.fancybox.mix.mix-el.filter--area
						a(href="img/slide-1.jpg" style="background-image:url('img/slide-5.jpg')").gallery__el.fancybox.mix.mix-el.filter--house
		// gallery === end
		+order()
	+footer()
include ./block_html/_script.pug
